@page "/computerVsComputer"
@using RockPaperScissors.Models.Computer

<PageTitle>ComputerVsComputer</PageTitle>

<h1>Computer Vs Computer</h1>

<button class="btn btn-primary" @onclick="PlayGame">Play Game</button>

<p id="ComputerChoice">Computer 1 chose: @computer1Move </p>
<p id="ComputerChoice">Computer 2 chose: @computer2Move </p>

<p role="status">Winner: @winner</p>

<h2>Computer Vs Computer Stats</h2>

<p role="status">Win: @win    Draw: @draw    Loss: @loss</p>

@code {
    private String computer1Move =  "";
    private String computer2Move = "";
    public String winner = "";

    private int win = 0;
    private int draw = 0;
    private int loss = 0;

    enum choice
    {
        rock,
        paper,
        scissors
    }

    private void PlayGame()
    {
        //create computers
        Computer computer1 = new Computer("computer1");
        Console.WriteLine(computer1.getComputerName());
        Computer computer2 = new Computer("computer2");
        Console.WriteLine(computer2.getComputerName());


        computer1.ComputerTurn(computer1);
        Console.WriteLine(computer1.getComputerMove());
        computer1Move = computer1.getComputerMove();

        computer2.ComputerTurn(computer2);
        Console.WriteLine(computer2.getComputerMove());
        computer2Move = computer2.getComputerMove();

        computer1.CheckWinner(computer1, computer2);
        winner = computer1.getWinner();
    }
    

}