@page "/computerVsComputer"
@using RockPaperScissors.Models.Computer
@using RockPaperScissors.Models.Game;

<PageTitle>ComputerVsComputer</PageTitle>

<h1>Computer Vs Computer</h1>

<button class="btn btn-primary" @onclick="PlayGame">Play Game</button>

<p id="ComputerChoice">Computer 1 chose: @computer1Move </p>
<p id="ComputerChoice">Computer 2 chose: @computer2Move </p>

<p>Winner: @winner</p>

@code {
    private string computer1Move = "";
    private string computer2Move = "";
    public string winner = "";

    int win = 0;
    int draw = 0;
    int loss = 0;

    enum choice
    {
        rock,
        paper,
        scissors
    }

    private void PlayGame()
    {
        Game game = new Game("Game Start");
        //create computers
        Computer computer1 = new Computer("Computer 1");
        Console.WriteLine(computer1.getComputerName());
        Computer computer2 = new Computer("Computer 2");
        Console.WriteLine(computer2.getComputerName());


        computer1.ComputerTurn(computer1);
        Console.WriteLine(computer1.getComputerMove());
        computer1Move = computer1.getComputerMove();

        computer2.ComputerTurn(computer2);
        Console.WriteLine(computer2.getComputerMove());
        computer2Move = computer2.getComputerMove();

        game.CheckWinner("Computer 1", "Computer 2", computer1.getComputerChoice(), computer2.getComputerChoice());
        winner = game.GetWinner();
    }
    

}