
@page "/playerVsComputer"
@using RockPaperScissors.Models.Computer;
@using RockPaperScissors.Models.Game;

<PageTitle>PlayerVsComputer</PageTitle>

<h1>Player Vs Computer</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Change Game Mode</button>
<button class="btn btn-primary" @onclick="ChooseRock">Rock</button>
<button class="btn btn-primary" @onclick="ChoosePaper">Paper</button>
<button class="btn btn-primary" @onclick="ChooseScissors">Scissors</button>

<p id="ComputerChoice">Computer chose: @computerMove </p>

<p id="winner">Winner: @winner </p>

<h2>Player Vs Computer Stats</h2>

<p role="status">Win: @win    Draw: @draw    Loss: @loss</p>

<p id="Player1WinsText" hidden>Player 1 wins</p>

@code {
    private int currentCount = 0;
    private int playerChoice;
    private int computerChoice;
    private String computerMove = "";

    public String winner = "";
    private int win = 0;
    private int draw = 0;
    private int loss = 0;

    enum choice
    {
        rock,
        paper,
        scissors
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ChooseRock()
    {
        playerChoice = (int)choice.rock;
        Console.WriteLine(playerChoice);
        ComputerTurn();
    }

    private void ChoosePaper()
    {
        playerChoice = (int)choice.paper;
        Console.WriteLine(playerChoice);
        ComputerTurn();
    }

    private void ChooseScissors()
    {
        playerChoice = (int)choice.scissors;
        Console.WriteLine(playerChoice);
        ComputerTurn();
    }

    private void ComputerTurn()
    {
        Game game = new Game(winner);

        //create computer
        Computer computer1 = new Computer("computer1");
        Console.WriteLine(computer1.getComputerName());

        //computer's turn
        computer1.ComputerTurn(computer1);
        Console.WriteLine(computer1.getComputerMove());
        computerMove = computer1.getComputerMove();
        computerChoice = computer1.getComputerChoice();

        //check who won
        game.CheckWinner(playerChoice, computerChoice);

        winner = game.GetWinner();
        win = game.GetWins();
        draw = game.GetDraws();
        loss = game.GetLosses();

        //CheckWinner();
    }

    //private void CheckWinner()
    //{
    //    if ((playerChoice+1) % 3 == computerChoice)
    //    {
    //        Console.WriteLine("Computer Wins");
    //        loss++;
    //        winner = "Computer";
    //    }
    //    else if (playerChoice == computerChoice)
    //    {
    //        Console.WriteLine("Draw");
    //        draw++;
    //        winner = "Draw";
    //    }
    //    else
    //    {
    //        Console.WriteLine("Player Wins");
    //        win++;
    //        winner = "Player";
    //    }
    //}
}
